@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2? family= Passion+One:wght@400;700;900 & exibir=trocar');
@import url('https://fonts.googleapis.com/css2?family= Sriracha & display=swap');

:root {
    --fonte1: 'Verdana', 'Geneva', 'Tahoma', 'sans-serif';
    --fonte2: 'Passion One', 'cursiva';
    --fonte3: 'Sriracha', 'cursiva';
}

* {
    margin: 0px;
    padding: 0px;
    font-family: Verdana, 'Geneva', Tahoma, sans-serif;
}
html, body {
    min-height: 100vh;
    background-color: darkgray;
}
header {
    background-color: black;
    color: white;
    text-align: center;
    font-family: var(--fonte1);
}
header > h1 {
    padding-top: 50px;
    font-variant: small-caps;
    font-family: var(--fonte2);
    font-size: 400%;
}
header > p {
    padding-bottom: 50px;
}
a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}
a:hover {
    text-decoration: underline;
}
section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 30px;
    line-height: 2em;
}
section > p {
    font-size: 150%;
    font-family: var(--fonte3);
    padding: 1em;
}
section.normal {
    background-color: white;
    color: rgb(0, 0, 0);
}
section.imagem {
    background-color: rgb(107, 88, 88);
    color: white;
    box-shadow: inset 5px 5px 10px 0px rgba(0, 0, 0, 0.418);
    background-attachment: fixed;
}
section.imagem > p {
    display: inline-block;
    width: 300px;
    background-color: rgba(0, 0, 0, 0.466);
    padding: 15px;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.425);
}
section#img01 {
    background-image: url('../pacote-d012/imagens/background001.jpg');
    background-position: right center;
    background-size: cover;
}
section#img02 {
    background-image: url('../pacote-d012/imagens/background002.jpg');
    background-position: right center;
    background-size: cover;
}
footer {
    background-color: black;
    text-align: center;
    padding: 10px;
    color: white;
}